<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes/">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Calculus%20of%20Several%20Variables%20with%20Applications/">Calculus of Several Variables and Applications</a>
</header>

<h1>Calculus of Several Variables and Applications<h1>

<h2>Course Summary<h2>
<p>Course Description: Vector functions, partial derivatives, gradient, multiple integrals, line integrals, optimization, applications.
Prerequisite: SC/MATH 1014 3.00 or SC/MATH 1310 3.00 or SC/ISCI 1402 3.00 or SC/ISCI 1410 6.00. Students should have a knowledge of vector algebra in two and three dimensions.
Course credit exclusions: SC/MATH 2015 3.00, GL/MATH/MODR 2670 3.00, GL/MATH 3200 3.00.</p>
This course is taught by Catherine Emily Redelmeier
<table>
<tr>
 <th>Date/Lecture No.</th>
 <th>Leture Notes</th>
 <th>Details</th>
 <th>Assignments/Tests</th>
 <th>Audio Recordings</th>
</tr>
<tr>
 <th>Lecture 1/September 4 2019</th>
 <th><a href="L1.pdf">L1</a></th>
 <th>She introduced herself and she said she will use the grading scheme of 3 midterms and a final.She went through some basic
 coordinate geometry and then said as a practice to visualise 4D objects in 4D.
 Her office hours are tentatively after class on Monday,Wednesday and Friday.She has not set up her email yet.
 Hopefully she will get eveything ready by next lesson </th>
 <th>Nil,she has not posted any suggested questions yet.Hopefully she will get eveything ready by next lesson</th>
 <th><a href="/classes/york/Audio/CIIIL1.ogg">Lecture 1</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th><a href="L2.pdf">L2</a></th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 3/September 9 2019</th>
  <th><a href="L3.pdf">L3</a></th>
  <th>She went through the cosine rule and derived it using vectors and then used the vector dot product formula to get the cosine angle
  theta</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL3.m4a">Lecture 3</a></th>
</tr>
<tr>
  <th>Lecture 4/September 11 2019</th>
  <th><a href="L4.pdf">L4</a></th>
  <th>Vector Cross product and its identites,butnot not give any rigorous proof of the results she claims,luckily she does not expect me to give
  rigorous proofs in the finals and the midterms</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL4.m4a">Lecture 4</a></th>
</tr>
<tr>
  <th>Lecture 5/September 13 2019</th>
  <th><a href="L5.pdf">L5</a></th>
  <th>She is during more review of basic vector algebra,and made some nice jokes,i really liked it.</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL5.m4a">Lecture 5</a></th>
</tr>
<tr>
  <th>Lecture 6/September 16 2019</th>
  <th><a href="L6.pdf">L6</a></th>
  <th>She went and did the definition of the limit in 3D,in the inutitutive mathematics way,no proofs.She confirmed that the midterms
  will be held in October 7 2019 </th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL6.m4a">Lecture 6</a></th>
</tr>
<tr>
  <th>Lecture 7/September 18 2019</th>
  <th>Nil</th>
  <th></th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/classes/york/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="classes/york/Audio/CIIIL2.ogg">Lecture 2</a></th>
</tr>
<tr>
  <th>Lecture 2/September 6 2019</th>
  <th>Nil</th>
  <th>She did some dot product examples and was going to prove $a\dotb=a\dotb-2abcos(\theta)$ in the next class,she has set up her email,
  redelmei@yorku.ca,moodle is unforunately notset up yet,will meet her for the first time in office hoiurs this Monday to discuss
  accomdations</th>
  <th>Nil,no suggested questions no webassign</th>
  <th><a href="classes/york/Audio/CIIIL3.ogg">Lecture 2</a></th>
</tr>
hiii

</table>
