<header>
  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>:<a href="https://bluewworks.github.io/classes/">Classes</a>
</header>
<header>
  <h1>Classes<h1>
</header>
<header>
<h1>Registered Courses for my Mathematics Degree</h1>
<h1></h1>
</header>
<style>table, th, tr {
  border: 1px solid black;
  }</style>

<table border="1">
<tr>
<th>Class</th>
<th>Course Number</th>
<td><b>Person teaching the Course</b></td>
<td><b>Grade I attained</b></td>
<td><b>Grading Scheme</b></td>
<td><b></b></td>
<td><b></b></td>
<td><b></b></td>
</tr>
<tr>
 <th align="left"><b>Differential Calculus and Applications</b></th>
 <th align="left"><b>Fall 2018 MATH 1300</b></th>
 <td><b>Shu Xiao Li </b></td>
 <td><b>Grade of A attained</b></td>
</tr>
<tr>
 <td><b>Introduction to Statistics I</b></td>
 <td><b>Fall 2018 MATH 1131</b></td>
 <td><b>Xin Gao</b></td>
 <td><b>Grade of B attained</b></td>
</tr>
<tr>
 <td><b>Introduction to Physics</b></td>
 <td><b>Fall 2018 PHYS 1560</b></td>
 <td><b>Ozzy mermut</b></td>
 <td><b>Grade of A attained</b></td>
</tr>
<tr>
 <td><b>Linear Algebra I</b></td>
 <td><b>Winter 2019 MATH 1210</b></td>
 <td><b> Robin Sulzgruber</b></td>
 <td><b>Grade of C attained</b></td>
</tr>
<tr>
 <td><strong>Integral Calculus and Application</strong></td>
 <td><strong>Winter 2019 MATH 1310</strong></td>
 <td><b>Mah Wah Wong</b></td>
 <td><b>Grade of A attained</b></td>
</tr>
<tr>
 <td><strong>Introduction to Computing for Mathematics and Statistics</a></strong></td>
 <td><strong>Winter 2019 EECS 1560</strong></td>
 <td><b>Ali Mahmoodi</b></td>
 <td><b>DROPPED</b></td>
 </tr>
<tr>
 <td><strong>Problems,Proofs and Conjectures</strong></td>
 <td><strong>Summer 2019 MATH 1200</strong></td>
 <td><b>Natasha May</b></td>
 <td><b>Grade of D+ attained</b></td>
</tr>
<tr>
 <td><strong>Elementary Probability</strong></td>
 <td><strong>Summer 2019 MATH 2030</strong></td>
 <td><b>Valeri Muckine</b></td>
 <td><b>Audited</b></td>
</tr>
<tr>
 <td><strong>Linear Algebra II</strong></td>
 <td><strong>Summer 2019 MATH 2021</strong></td>
 <td><b>Valeri Muckine</b></td>
 <td><b>Audited</b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Introduction%20to%20Computing%20for%20Mathematics%20and%20Statistics">Introduction to Computing for Mathematics and Statistics</a></strong></td>
 <td><strong>Fall 2019 EECS 1560</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Calculus%20of%20Several%20Variables%20with%20Applications/">Calculus of Several Variables with Applications</a></strong></td>
 <td><strong>Fall 2019 MATH 2310</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Introduction%20to%20Microeconomics">Introduction to Microeconomics</a></strong></td>
 <td><strong>Fall 2019 AP ECON 1000</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Introduction%20to%20Macroeconomics">Introduction to Macroeconomics</a></strong></td>
 <td><strong>Fall 2019 AP ECON 1010</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Elementary%20Probability">Elementary Probability</a></strong></td>
 <td><strong>Fall 2019 MATH 2020</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
<tr>
 <td><strong><a href="https://bluewworks.github.io/classes/york/Analysis%20I/index.html">Analysis I</a></strong></td>
 <td><strong>Fall 2019 MATH 2001</strong></td>
 <td><b></b></td>
 <td><b></b></td>
</tr>
 <tr>
  <td><strong><a href="https://bluewworks.github.io/classes/york/Physical%20Science">Physical Science</a></strong></td>
  <td><strong>Fall 2019 PHYS 1410</strong></td>
  <td><b></b></td>
  <td><b></b></td>
 </tr>
  <tr>
  <td><b><strong><a href="https://bluewworks.github.io/classes/york/Linear%20Algebra%20II">Linear Algebra II</a></strong></b></td>
  <td><b><strong>Winter 2020 MATH 2022</strong></b></td>
  <td><b></b></td>
  <td><b></b></td>
 </tr>
  </tr>
  <tr>
  <td><b><strong><a href="https://bluewworks.github.io/classes/york/Differential%20Equations">Differential Equations</a></strong></b></td>
  <td><b><strong>Winter 2020 MATH 2270</strong></b></td>
  <td><b></b></td>
  <td><b></b></td>
 </tr>
  <tr>
  <td><b><strong><a href="https://bluewworks.github.io/classes/york/Differential%20Equations%20for%20Scientist%20and%20Engineers">Differential Equations for Scientist and Engineers</a></strong></b></td>
  <td><b><strong>Winter 2020 MATH 2271</strong></b></td>
  <td><b></b></td>
  <td><b></b></td>
 </tr>
  </tr>
  <tr>
  <td><b><strong><a href="https://bluewworks.github.io/classes/york/Introduction%20to%20Microeconomics">Introduction to Microeconomics</a></strong></b></td>
  <td><b><strong>Winter 2020 AP ECON 1000</strong></b></td>
  <td><b></b></td>
  <td><b></b></td>
</table>

<h1>Cambridge Mathematical Tripos<h1>

<table>
  <tr>
    <th><h3>Cambridge Mathematical Tripos Part IA<h3></th>
    <th><h3>Cambridge Mathematical Tripos Part IB<h3></th>
    <th><h3>Cambridge Mathematical Tripos Part II<h3></th>
    <th><h3>Cambridge Mathematical Tripos Part III<h3></th>
  </tr>
