<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Differential%20Equations%20for%20Scientist%20and%20Engineers">Differential Equations for Engineers</a>
</header>

<h1>Differential Equations for Engineers<h1>
  <p>Course description:Introduction to differential equations, including a discussion of the formation of mathematical models for real phenomena;
    solution by special techniques; applications; linear equations; solutions in series; other topics if time permits.</p>
  <p>Prerequisites: One of SC/MATH 2015 3.00 or SC/MATH 2310 3.00; one of SC/MATH 1021 3.00, SC/MATH 1025 3.00, or SC/MATH 2221 3.00.
    Course credit exclusion: SC/MATH 2271 3.00, GL/MATH 3400 3.00.</p>

<table>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
  </tr>
  <th>gerugheruhgqeirhgqe sehguiehrgiheriughe irhgqehrgqerg9qrgq yrg89qyer9g8qer9ghqer urgqergqhergiqerg 9qrg89qryg98qeyrgqerg 8yrg98qeyr9gyqerygqerg
    orygqergqerg 8yrg98qerygqerygqe ryg9q8eryg89qrygqeygqyerg 8ryg8qerygyqerg 8reyg98ergy9qegb rg98erge9q8rge igqergeqrgye</th>

</table>
