<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Linear%20Algebra%20II">Linear Algebra II</a>
</header>

<h1>Linear Algebra II<h1>
  <p>Course Description:Vector spaces, linear transformations, change of basis, orthogonality, inner product spaces and canonical forms.</p>
  <p>Prerequisite: one of SC/MATH 1021 3.00, SC/MATH 2021 3.00, GL/MATH/MODR 2650 3.00 or permission of the course coordinator.
    Course credit exclusions: SC/MATH 2222 3.00, GL/MATH/MODR 2660 3.00.</p>

<table>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Lecture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
  </tr>
</table>
