<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

    (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>:<a href="https://bluewworks.github.io/classes/">Classes</a>
       :<a href="https://bluewworks.github.io/classes/Analysis%20I/index.html">Analysis I</a>

</header>

<h1>Analysis I<h1>
<p>Axioms for, and properties of, the real numbers; sequences; functions of a real variable, continuity, and differentiation.
Rigorous definitions of convergence and limit underpin a proof-based treatment of the subject material.
Intended for Honours students in Mathematics.<p>

<p>Prerequisites: SC/MATH 1200 3.00, SC/MATH 1310 3.00 or ISCI 1402 3.00 or ISCI 1410 6.00, or permission of the instructor.
Course credit exclusion: GL/MATH 3320 3.00.<p>

Real Analysis I

MATH 2001A 3.00
<li><b>Instructor</b>: Paul J. Szeptycki</li>

<li><b>Office</b>: ROSS N522</li>

<li><b>email:</b> szeptyck@yorku.ca</li>

<li><b>Lectures</b>: Tuesday and Thursday 4-5:30 ACE 007</li>

<li><b>Office hours:</b> By appointment. I am in most days (except on Friday for a seminar downtown) but am often busy with meetings or other administrative duties. If I am free, I am happy to help you if you just drop by, but if you want to make sure that I am available to help, send me an email to make an appointment.</li>

<li><b>MATH/STATS Lab</b> This is a drop in tutoring lab staffed by faculty and graduate students in our department. Hours TBA.</li>
<table>
<tr>
<td><b>Prerequisites </b>MATH 1300, MATH 1310 and MATH 1200</td>

<td><b>Textbook </b>Analysis. With an Introduction to Proof Steven R. Lay 5th Ed.</td>
<td><p id="yui_3_17_2_1_1567547127510_60"><b>Grading</b></p>
1. There will be several homework assignments during the term worth a total of 30% of your grade

2. There will be one in-class midterm worth 30% of your grade.

3. A Final Exam worth 40% of your grade.</td>

<td><b>Homework Assignments</b> All assignments are to be submitted on this Moodle site on or before 12:00 (noon) on the announced due date. (Do not email me your solutions). Assignments should be compiled into a pdf file using the LateX mathematical document system (more about this later). Homework problems will be assigned (with deadlines) in almost every lecture with ample time to complete them. The first assignment is designed to review the material from Chapters 1, 2 and section 3.1 that should have been covered in MATH 1200, and will give you an opportunity to familiarize yourself with LaTeX.

It is perfectly acceptable to work together with other students in the class on this assignment, but I expect you to clearly state on your homework assignment if you received help, or relied on another person to complete the assignment. Completing a homework assignment that was copied from another source or completed by somebody else and handing it in as your own is a violation of the York Policy on Academic Honesty (see more about Academic Honesty in the paragraph below).</td>

<td><b>Tests.</b> The tentative date for the midterm test is October 29. The Final Exam schedule has not yet been set</td>.

<td><b>Syllabus</b> The main goal of the course is to give a rigorous treatment of the fundamental notions concerning the real number line, properties of functions on the reals, and proofs of the central theorems found in the study of Calculus (e.g., the Intermediate Value Theorem, Mean Value Theorem, the Extreme Value Theorem and, hopefully, The Fundamental Theorem of Calculus). I will try to cover Chapters 3-9 of the text but we will probably not get to all of it and we will cover only a good selection from the later chapters. Chapters 1, 2 and section 3.1 should be familiar to you and will not be covered. It is probably worth your while to read over this material as I am assuming all, except possibly sections 2.4 and 2.5, is familiar to you.</td>
</tr>
</table>

<table>
  <tr>
    <td><b>LaTeX Guide for Assignments</b>
All of the assignments you submit in this course will have to be written using the LateX document system.  This means that you will need to spend some time (no more than an hour so) in the first week learning how to use this system. While this might seem like an unnecessary burden in a course that will already require a great deal of your time, you will find that using LaTeX :

produces beautifully formatted mathematical formulas and text.
encourages you to organize your thoughts and write more clearly
allows you to submit assignments using the Moodle system
allows for easy editing when you make mistakes and need to modify your solutions.
And, hopefully, it will make it much easier for me and my TAs to read and understand your solutions.

You will find all of the resources needed to create a mathematics document using an on LaTeX system in this section. Here are a few sites that can be used to create LaTeX documents:

ShareLaTeX  and Overleaf are two excellent online LaTeX systems that are now combined into one site. Either link will direct you to the site.
LaTeX Base is free with an option to pay for more features.
Verbosus is also free
I suggest starting with Overleaf.  I have provided some uncompiled LaTeX files from which you can start. There are many on-line resources for learning the LaTeX basics including the Overleaf site which has its own tutorial.

<li><a href="https://www.latex-tutorial.com/tutorials/">this document is also quite good, although you can again ignore the material about downloading the program</a></li>
<li><a href="http://www.math.harvard.edu/texman/">this document from Harvard contains more information that most people will want
this document might be the one you find most useful</a></li>
<li><a href="https://www.latex-tutorial.com/tutorials/beginners/">there are also YouTube tutorials you may find useful, although I do not recommend them.</a></li>
I will compile all the homework assignments in LaTeX and share the uncompiled files with you so you can use those as a template. It is enough to copy and paste the files into one of the above interfaces and it should compile and look just like the pdf file of the homework assignments.
</td></tr>
</table>












<h2>Chronological Description of the Course<h2>
<table>
  <tr>
    <th>Date/Lecture</th>
    <th>Details</th>
    <th>Audio Recording</th>
    <th>Assignemnt/Tests</th>
  </tr>
  <tr>
    <th>September 4 2019,Lecture 1</th>
    <th><p id="yui_3_17_2_1_1567548639661_65">I will go over the syllabus and course information before we begin studying the first main topics of the course.</p>
<p id="yui_3_17_2_1_1567548639661_61">I would recommend reading through the material in Chapters 1 and 2 and section 3.1, all of which, expect possibly sections 2.4 and 2.5, should be familiar to you. There are a few questions on the first homework assignment devoted to this introductory material.</p>
The most important first topic that we will discuss in detail is the<i> Completeness Property of the Real line</i>. The text book takes as an axiom that the real number line is given and that it satisfies the completeness property. We will instead discuss how, building up from the natural numbers, to define the rational numbers and how we then construct the real number line. We will then prove that the constructed set of real numbers does is indeed "complete."
In addition to reviewing the material in Chapters 1, 2 and section 3.1, please read start reading sections 3.2 and 3.3 from the textbook in preparation.
He went throught the basic axioms that support all of of mathematics,the set theory axioms,then he went throught the precise definitions of 1,2,...n,the said
that there will be 5 to 6 assignemnts for the whole term  </th>
    <th><a href="AI1.ogg">Audio Recording of lecture 1</a></th>
    <th>Assignment 1 in Latex and PDF</th>
  </tr>
</table>
