<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Elemenetary%20Probability">Elementary Probability</a>
</header>

<h1>Elementary Proability<h1>
  <p>Introduction to the theory of probability as preparation for further study in either mathematical or applied probability and statistics.
    Topics include probability spaces, conditional probability, independence, random variables, distribution functions, expectation, Chebyshev’s inequality, common distributions, moment-generating functions and limit theorems.</p>
  <p>Prerequisite: One of SC/MATH 1014 3.00, SC/MATH 1310 3.00, SC/ISCI 1402 3.00, SC/ISCI 1410 6.00.</p>
  Person teaching the course is Emanoil Theodoresu

<table>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Lecture 1/September 4 2019</th>
    <th>Nil</th>
    <th>He went through the basic definitions of surjective,injective and bijective functions.No course outline and
    grade breakdown was given</th>
    <th>Assignments/Tests</th>
    <th><a href="/classes/york/Audio/EPL1.ogg">Lecture 1 Recording</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Nil</th>
    <th>He went throught the proof of multplication rule,permutations and combinations</th>
    <th>Nil</th>
    <th><a href="/classes/york/Audio/EPL2.ogg">Lecture 2 Recording</a></th>
  </tr>
  <tr>
    <th>Lecture 3/September 9 2019</th>
    <th>Nil</th>
    <th>Basic counting proofs</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Reccordong</th>
  </tr>
</table>
