<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Introduction%20to%20Microeconomics">Introduction to Microeconomics</a>
</header>

<h1>Introduction to Microeconomics<h1>
  <p>Introduces the principles and methods of economics with emphasis on microeconomic theory.
     Topics include general and basic concepts of demand and supply, utility analysis and demand, production and costs, pricing in competitive and monopolistic markets, and government regulation</p>
  <p>Note: Successful completion of this course, together with AP/ECON 1010 3.00, is required for all students who intend to pursue additional courses in economics at the 2000-, 3000-, and 4000- level and in order to pursue degree studies in economics, business economics, and financial and business economics.
    Course credit exclusions: GL/ECON 2500 3.00 (prior to Fall 2014), SB/INTL 1200 3.00.
    Note: Acceptable course substitutes are available in the Calendar.</p>

<table>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
  </tr>
</table>
