<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/classes">Classes</a>
  :<a href="https://bluewworks.github.io/classes/Physical%20Science">Physical Science</a>
</header>

<h1>Physical Science<h1>
  <p>A survey of physics. Topics include kinematics, dynamics, momentum and energy for linear and rotational motion; elementary kinetic theory and thermodynamics; static and current electricity; waves and physical and geometrical optics; elements of modern physics.
    This is a calculus-based course recommended for students unlikely to take 2000-level Physics courses.</p>
  <p>Prerequisites: 12U Physics or OAC Physics or SC/PHYS 1510 4.00; MHF4U Advanced Functions and MCV4U Calculus and Vectors, or 12U Advanced Functions and Introductory Calculus, or OAC Algebra and OAC Calculus, or SC/MATH 1505 6.00, or SC/MATH 1520 3.00.
    Course credit exclusions: SC/PHYS 1010 6.00, SC/PHYS 1420 6.00; SC/PHYS 1800 3.00 and SC/PHYS 1801 3.00; SC/ISCI 1310 6.00.</p>
<a href="Physics%201410%20Course%20Outlline.pdf">Course Outline for Full Year Course</a>
<li>Course Instructor: Paul A Delany</li>

<table>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Lecture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
    <th>Audio Recording</th>
  </tr>
  <tr>
    <th>Lecture 1/September 4 2019</th>
    <th><li><a href="01_Key%20equation.pdf">Key Equations of Vectors</a></li>
        <li><a href="Ch1-lecture-PAD-post.pdf">Slides for Lecture 1</a></li>
        <li><a href="01_Summary.pdf">Summary of slides</a></li>
    </th>
    <th>I think he will go through the course grading scheme,i do not know what iClicker Questions are,hope he will tell us what
    this is,mainly his homework is online with MasteringPhysics(Webassign) and will calify my doubts,awesome lecture,but very
    little content was covered</th>
    <th>No assignments or suggested questions were given</th>
    <th><a href="PSL1.ogg">Lecture 1</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Date/Lecture No.</th>
    <th>Leture Notes</th>
    <th>Details</th>
    <th>Assignments/Tests</th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
  <tr>
    <th>Lecture 2/September 6 2019</th>
    <th>Lecture Notes</th>
    <th>He went throught the basic quantities of measurement and then went about talking about precision and accuracy,the he talked
    about additions and subtractions of vectors in 2D,Gave us a nice intro into iClicker,hope he prints out in 11x17 paper instead
    of iClicker.It WILL really help me. </th>
    <th>Assignment 1 is up on MasteringPhysics,due next wednesday at 10pm</th>
    <th><a href="PSL2.ogg">Lecture 2</a></th>
  </tr>
</table>
